#root {
  padding: 2rem;
}

.weather-overview {
  display: flex;
  align-items: center;
}

.weather-overview > img {
  margin-right: 0.5rem;
}

.weather-overview span {
  text-transform: capitalize;
  color: cyan;
}